<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">
<listeners>
<listener class-name="End2EndFrameWork.Listeners"/>
</listeners>

  <test thread-count="5" name="validating login moduels with different user">
    <classes>
      <class name="End2EndFrameWork.LaunchingBrowser"/>
       </classes>
  </test>
  <test name="validating navigation bar">
  <classes>
      <class name="End2EndFrameWork.ValidateNavigationBar"/>
      </classes>
       </test>
      <test name="validating forgotPassword functionality">
  <classes>
      <class name="End2EndFrameWork.VerifiyingForgotPassword"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
